<div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg shadow-lg text-gray-800">
    <h1 class="text-3xl font-bold text-center">Register</h1>
    <form action="/storeUser" method="POST" class="mt-4">
        <input type="text" name="name" placeholder="Name"
               class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-200 focus:bg-white"
               required>
        <input type="email" name="email" placeholder="Email"
               class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-200 focus:bg-white"
               required>
        <input type="password" name="password" id="passwordRegister" placeholder="Password"
               class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-200 focus:bg-white"
               required>
        
        <!-- Campo para seleccionar el rol -->
        <select name="role" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-200 focus:bg-white" required>
            <option value="">Select your role</option>
            <option value="Agricultores/Productores">Agricultores/Productores</option>
            <option value="Comerciantes de Productos Agrícolas">Comerciantes de Productos Agrícolas</option>
            <option value="Administrador">Administrador</option>
        </select>

        <input type="checkbox" onclick="togglePassword('passwordRegister')" class="my-2">
        <label>Show Password</label>

        <button type="submit"
                class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 hover:bg-green-600 focus:bg-green-700">
            Register
        </button>
        <p class="text-center mt-4">
            Already have an account? <a href="/login" class="text-blue-600 hover:text-blue-800">Log in</a>
        </p>
    </form>
</div>

<script>
    function togglePassword(passwordId) {
        var password = document.getElementById(passwordId);
        if (password.type === "password") {
            password.type = "text";
        } else {
            password.type = "password";
        }
    }
</script>
